<% title "Управление спортсменом" %>

<%= render 'form' %>

<p>
  <%= link_to "Выписать абонемент", new_admin_sportsman_sub_path(@sportsman) %> |
  <%= link_to "View All", admin_sportsmen_path %>
</p>
