<% title "Спортсмены" %>

<table>
  <tr>
    <th>Имя</th>
    <th>Телефон</th>
  </tr>
  <% for sportsman in @sportsmen %>
    <tr>
      <td><%= link_to sportsman.name, edit_admin_sportsman_path(sportsman) %></td>
      <td><%= sportsman.phone %></td>
      <td><%= link_to "Удалить", admin_sportsman_path(sportsman), :confirm => 'Уверены?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Добавить", new_admin_sportsman_path %></p>
