* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
  -moz-margin-before: 0;
  -moz-margin-after: 0;
  -moz-padding-start: 0;
}

img { border: none; }

h1 {
  margin: 0 0 10px 0;
}
h3 {
  margin: 0;
}
p.padded {
  padding: 0 9.278%;
}
p.padded-right {
  padding: 0 36% 0 15px;
}
p.borders-decorated {
  border-top: 2px solid #f2a300;
  border-bottom: 2px solid #f2a300;
  padding: 15px 23.4375% 15px 15px;
}
html, body {
  height: 100%;
}

.container {
  width: 100%;
  background: black;
  color: white;
  
  height: 100%;
  min-height: 100%;
  
  .nav {
    width: 20%;
    height: 100%;
    background: #f2a300;
    color: #603e00;
    
    ul {
      height: 50%;
      width: 100%;
      line-height: 2em;
      padding-left: 25%;
      list-style-type: none;
    }
  }
  
  .content {
    width: 80%;
    height: 100%;
    min-height: 100%;
    
    .content-inside {
      margin-top: 25%;
      height: 50%;
      width: 100%;
      padding-left: 14.7%;
      
      h1 span {
        color: #eaa30b;
      }
      
      h3 {
        padding-left: 15px;
        margin: 0;
        color: #eaa30b;
      }
      
      .left {
        padding-right: 5.9%;
      }
    }
  }
  
  .coaches {
    overflow: hidden;
    
    .coach {
      position: relative;
      height: 100%;
      
      img {
        height: 100%;
        overflow: hidden;
      }
      .name-block {
        position: absolute;
        top: 70%;
        left: -6px;
        padding-top: 6px;
        z-index: 15;
        
        p {
          background: white;
          color: black;
          display: inline-block;
          line-height: 1.5em;
          margin: 0;
          padding: 0 5px;
        }
        p.name {
          font-size: 20px;
        }
        p.active {
          background: #f2a300;
        }
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.7);
        z-index: 10;
      }
    }
    .coach:nth-child(1) .name-block {
      left: 0;
      background: none;
    }
  }
}


#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}

#lightbox {
  position: fixed;
  background: white;
  padding: 5px;
}

.event {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  
  .event-helper {
    position: absolute;
    top: -40px;
    left: 100%;
    z-index: 15;
    display: none;
    background: rgba(0,255,0,.5);
    color: #fff;
  }
}
#schedule {
  float: left;
  width: 80%;

  .day_names {
    width: 100%;
    padding-left: 90px;
    
    .day_name {
      float:left;
      width: 90px;
    }
  }
  .time_names {
    float: left;
    
    .time_name {
      height: 30px;
      width: 90px;
    }
  }
  .day {
    float: left;
    border-right: 1px solid rgba(0,0,0,.5);
    
    .period {
      width: 90px;
      height: 30px;
      background: #ccc;
      position: relative;
    }
    
    div.period:nth-child(even) {
      background: #333;
    }
  }
}

.left {
  float: left;
}
.right {
  float: right;
}
.half {
  width: 50%;
}
.quarter {
  width: 25%;
}
.table {
  display: table;
}
.cell {
  display: table-cell;
}
.valign-middle {
  vertical-align: middle;
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
