<h1>Управление пользователями</h1>

<%= link_to 'Добавить пользователя', new_admin_user_path %>

<table class="admin">
  <thead>
    <th>E-mail</th>
    <th>Действия</th>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</div>
