<div id="latest_news">
  <% cache ['latest_news', NewsItem.order('updated_at').last] do %>
    <%= render @news_items %>
  <% end %>
</div>
<div id="latest_photos">
  <% cache ['latest_photos', Photo.last] do %>
    <%= render @photos %>
  <% end %>
</div>
